body.dice-only-topic .topic-footer-main-buttons button.create {
  display: none;
}

body.dice-only-topic .topic-footer-main-buttons button.roll-dice {
  display: inline-block;
}

.dice-post-icon {
  margin-right: 0.25em;
  display: flex;
  align-items: center;
}

.dice-roll-result {
  margin-top: 0.5em;
  font-weight: bold;
}
